.main__section {
  display: flex;
  margin-top: 94.094px;
  height: 90%;
  justify-content: center;
  align-items: center;
}

.main__container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  color: white;
}

.main__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
}

.main__name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  text-shadow: 5px 5px #b95ac5, 8px 8px #ba5bc7, 10px 10px #ffffff;
  width: 100%;
  height: 70%;
}

.main__side {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  letter-spacing: 5px;
  width: 100%;
  height: 30%;
}

.str__btn__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
}

.str__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  letter-spacing: 3px;
  text-shadow: 2px 2px #b95ac5;
  text-decoration: underline;
  text-decoration-style: wavy;
  width: 20%;
  height: 50%;
}

.str__btn span:hover {
  transition: all ease-in-out 1s;
  transform: rotateY(360deg);
  cursor: pointer;
}
