@import "./navbar.css";
@import "./main.css";
@import "./about.css";
@import "./janggun.css";

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0px;
  width: 100%;
  height: 100vh;
  background-image: url("../img/janggun1.jpg");
  background-attachment: fixed;
  background-size: contain;
  background-position: auto;
  animation: bgmove 1s linear none;
}

* {
  box-sizing: border-box;
}

@keyframes bgmove {
  from {
    background-color: black;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  --text-shadow: 2px 2px #b95ac5;
}
